#navigation {
  color: #fff; }
  #navigation .navbar-brand {
    color: #fff;
    text-transform: uppercase; }
    #navigation .navbar-brand img {
      width: 30px;
      margin-right: 5px; }
    #navigation .navbar-brand span {
      color: #003aee;
      font-size: 2em;
      line-height: .5em; }
  #navigation .navbar-toggler {
    border: 0; }
  #navigation ul {
    margin-left: auto; }
    #navigation ul .nav-item {
      margin-left: 30px; }
      #navigation ul .nav-item a {
        color: #fff;
        font-size: 20px; }
  #navigation .nav-sec .fa {
    font-size: 38px;
    margin-right: 20px;
    vertical-align: middle; }
  #navigation .nav-sec .btn-success {
    transition: .3s ease-out;
    background: #53C16A;
    box-shadow: 0 14px 24px 0 rgba(50, 49, 58, 0.25);
    border-radius: 3px;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 9px 15px; }
    #navigation .nav-sec .btn-success:hover {
      background: #47AA5B; }
