#daico {
  background-color: #f5f7fa;
  padding: 60px 0; }
  #daico .tbl {
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 0 0 30px;
    justify-content: space-around;
    box-shadow: 0 14px 24px 0 rgba(50, 49, 58, 0.25); }
    #daico .tbl ul {
      padding: 0;
      list-style: none; }
      #daico .tbl ul li {
        margin-bottom: 10px; }
        #daico .tbl ul li .fa {
          color: #53C16A; }
    #daico .tbl ul.check-list li {
      text-align: center; }
    #daico .tbl .features {
      width: 60%; }
    #daico .tbl .incremint {
      text-align: center;
      box-shadow: 0 14px 24px 0 rgba(50, 49, 58, 0.25);
      padding: 15px 22px 22px;
      border-radius: 5px;
      border: 1px solid #53C16A;
      position: absolute;
      margin-top: -15px;
      background-color: #fff;
      margin: -15px 140px;
      width: 16%; }
      #daico .tbl .incremint .btn-success {
        transition: .3s ease-out;
        background: #53C16A;
        box-shadow: 0 14px 24px 0 rgba(50, 49, 58, 0.25);
        border-radius: 3px;
        color: #FFF;
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        padding: 9px 15px; }
        #daico .tbl .incremint .btn-success:hover {
          background: #47AA5B; }
